<!-- Footer with social media links -->
<footer>
  <div class="footer-content">
    <!-- Social links -->
      <div class="social-media">
        <a href="https://open.spotify.com/artist/1oWfjjRo2dwQW1rz4BtVHu?si=pqaSTexzT3eOTiqjbOjtHw" target="_blank"><i class="fab fa-spotify"></i></a>
        <a href="https://instagram.com/prod.cxxl" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://soundcloud.com/prod-cxxl" target="_blank"><i class="fab fa-soundcloud"></i></a>
        <a href="{{ site.baseurl }}/index"><img src="{{ site.baseurl }}/images/LogoBG.png" class="logo" alt="Logo" style="height: 25px;width: 25px;"></a>
        <a href="https://twitter.com/ProdCxxl" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.tiktok.com/@prod.cxxl" target="_blank"><i class="fab fa-tiktok"></i></a>
        <a href="https://www.snapchat.com/add/prod.cxxl/" target="_blank"><i class="fab fa-snapchat"></i></a>
    </div>
    <p>&copy; {{ site.time | date: "%Y" }} MERCH. All rights reserved.</p>
  </div>
 </footer>
