---
---

{% if site.data.branding.site_name != "HasMerch" %}
{% assign dynamic_baseurl = "/" | append: site.data.branding.site_name | downcase %}
{% else %}
{% assign dynamic_baseurl = "" %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include head.html %}

  <!-- Body -->
  <body>
    <!-- Header -->
    {% include header.html %}
    <div class="overlay"></div>
    
    <!-- Main content -->
    <main class="site-main">
      {{ content }}
    </main>

    <!-- Footer -->
    {% include footer.html %}
    <div hidden id="snipcart"></div>
  </body>

  <!-- Load the JavaScript -->
  <script src="/js/scripts.js"></script>

</html>